.cm-s-default .cm-keyword {color: #000;}
.cm-s-default .cm-atom {color: #905;}
.cm-s-default .cm-number {color: #905;}
.cm-s-default .cm-def {color: #00f;}
.cm-s-default .cm-variable,
.cm-s-default .cm-punctuation,
.cm-s-default .cm-property,
.cm-s-default .cm-operator {color: #000;}
.cm-s-default.CodeMirror-wrap pre {color: #999;}
.cm-s-default .cm-variable-2 {color: #000;}
.cm-s-default .cm-variable-3 {color: #000;}
.cm-s-default .cm-comment {color: slategray;}
.cm-s-default .cm-string {color: #690;}
.cm-s-default .cm-string-2 {color: #690;}
.cm-s-default .cm-meta {color: #555;}
.cm-s-default .cm-qualifier {color: #555;}
.cm-s-default .cm-builtin {color: #30a;}
.cm-s-default .cm-bracket {color: #999;}
.cm-s-default .cm-tag {color: #905;}
.cm-s-default .cm-attribute {color: #00c;}
.cm-s-default .cm-header {color: blue;}
.cm-s-default .cm-quote {color: #690;}
.cm-s-default .cm-hr {color: #999;}
.cm-s-default .cm-link {color: #690;}

.cm-negative {color: #d44;}
.cm-positive {color: #292;}
.cm-header, .cm-strong {font-weight: bold;}
.cm-em {font-style: italic;}
.cm-link {text-decoration: underline;}
.cm-strikethrough {text-decoration: line-through;}

.cm-s-default .cm-error {color: #f00;}
.cm-invalidchar {color: #f00;}
