.CodeMirror pre {
  margin-left: 5px;
}

.CodeMirror-foldgutter {
  padding: 0 5px;
}

.CodeMirror-lines .CodeMirror-cursor {
  margin-left: 5px;
}

.CodeMirror-gutter-elt {
  text-align: center;
}

.CodeMirror-sizer {
  margin-right: 70px;
}
