body {
  margin: 0;
}

*:focus {
  outline: 0;
}

.container {
  position: relative;
  max-width: 1150px;
  margin: 0 auto;

  .version {
    float: left;
    display: block;
    padding: 9px;
    text-decoration: none;

    &:before {
      content: "v";
    }
  }
}

h1 {
  line-height: 128px;
  margin: 0 0 0 -10px;
  font-size: 2.5em;

  .logo {
    float: left;
  }

  .page-title {
    display: inline-block;
    margin: 3px 0 0 10px;
  }
}

header {
  padding: 20px 0 15px 0;

  h2 {
    padding: 0;
    margin: 0;
    font-size: 2em;
  }

  .underline {
    text-decoration: underline;
  }

  .explain strong, .hint {
    font-size: 1.5em;
  }

  .hint {
    font-style: italic;
    color: #999;
    font-family: 'Helvetica Neue', Arial, sans-serif;
  }
}

.CodeMirror {
  font-family: monaco, Consolas, Menlo, Courier, monospace;
  font-size: 16px;
  line-height: 1.5em;
}

.CodeMirror-hints {
  font-family: monaco, Consolas, Menlo, Courier, monospace;
  font-size: 14px;
  line-height: 20px;
}

#themes-example + .CodeMirror {
  height: 300px;
}

#addons + .CodeMirror,
#structure + .CodeMirror {
  height: 250px;
}

#style + .CodeMirror {
  height: 450px;
  margin-bottom: 100px;
}

#addons + .CodeMirror
#structure + .CodeMirror,
#style + .CodeMirror {
  pre {
    margin-left: 0;
  }

  .CodeMirror-lines .CodeMirror-cursor {
    margin-left: 0;
  }
}

.select-style {
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}

.select-style {
  margin-bottom: 15px;

  select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

    &:focus {
        outline: none;
    }
  }
}

.action-bar {
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  text-align: right;
  z-index: 10;

  button {
  	background: linear-gradient(to bottom, #79bbff 5%, #378de5 100%);
  	background-color: #79bbff;
  	border-radius: 6px;
  	border: 1px solid #84bbf3;
  	display: inline-block;
  	cursor: pointer;
  	color: #ffffff;
  	font-family: Arial;
  	font-size: 16px;
  	font-weight: bold;
  	padding: 6px 24px;
  	text-decoration: none;
  	text-shadow: 0px 1px 0px #528ecc;

    &:hover {
    	background: linear-gradient(to bottom, #378de5 5%, #79bbff 100%);
    	background-color: #378de5;
    }

    &:active {
    	position: relative;
    	top: 1px;
    }
  }
}

.logo {
  display: inline-block;
	width: 128px;
	height: 128px;
	background-image:  url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIAAAACACAYAAADDPmHLAAAKQWlDQ1BJQ0MgUHJvZmlsZQAASA2dlndUU9kWh8+9N73QEiIgJfQaegkg0jtIFQRRiUmAUAKGhCZ2RAVGFBEpVmRUwAFHhyJjRRQLg4Ji1wnyEFDGwVFEReXdjGsJ7601896a/cdZ39nnt9fZZ+9917oAUPyCBMJ0WAGANKFYFO7rwVwSE8vE9wIYEAEOWAHA4WZmBEf4RALU/L09mZmoSMaz9u4ugGS72yy/UCZz1v9/kSI3QyQGAApF1TY8fiYX5QKUU7PFGTL/BMr0lSkyhjEyFqEJoqwi48SvbPan5iu7yZiXJuShGlnOGbw0noy7UN6aJeGjjAShXJgl4GejfAdlvVRJmgDl9yjT0/icTAAwFJlfzOcmoWyJMkUUGe6J8gIACJTEObxyDov5OWieAHimZ+SKBIlJYqYR15hp5ejIZvrxs1P5YjErlMNN4Yh4TM/0tAyOMBeAr2+WRQElWW2ZaJHtrRzt7VnW5mj5v9nfHn5T/T3IevtV8Sbsz55BjJ5Z32zsrC+9FgD2JFqbHbO+lVUAtG0GQOXhrE/vIADyBQC03pzzHoZsXpLE4gwnC4vs7GxzAZ9rLivoN/ufgm/Kv4Y595nL7vtWO6YXP4EjSRUzZUXlpqemS0TMzAwOl89k/fcQ/+PAOWnNycMsnJ/AF/GF6FVR6JQJhIlou4U8gViQLmQKhH/V4X8YNicHGX6daxRodV8AfYU5ULhJB8hvPQBDIwMkbj96An3rWxAxCsi+vGitka9zjzJ6/uf6Hwtcim7hTEEiU+b2DI9kciWiLBmj34RswQISkAd0oAo0gS4wAixgDRyAM3AD3iAAhIBIEAOWAy5IAmlABLJBPtgACkEx2AF2g2pwANSBetAEToI2cAZcBFfADXALDIBHQAqGwUswAd6BaQiC8BAVokGqkBakD5lC1hAbWgh5Q0FQOBQDxUOJkBCSQPnQJqgYKoOqoUNQPfQjdBq6CF2D+qAH0CA0Bv0BfYQRmALTYQ3YALaA2bA7HAhHwsvgRHgVnAcXwNvhSrgWPg63whfhG/AALIVfwpMIQMgIA9FGWAgb8URCkFgkAREha5EipAKpRZqQDqQbuY1IkXHkAwaHoWGYGBbGGeOHWYzhYlZh1mJKMNWYY5hWTBfmNmYQM4H5gqVi1bGmWCesP3YJNhGbjS3EVmCPYFuwl7ED2GHsOxwOx8AZ4hxwfrgYXDJuNa4Etw/XjLuA68MN4SbxeLwq3hTvgg/Bc/BifCG+Cn8cfx7fjx/GvyeQCVoEa4IPIZYgJGwkVBAaCOcI/YQRwjRRgahPdCKGEHnEXGIpsY7YQbxJHCZOkxRJhiQXUiQpmbSBVElqIl0mPSa9IZPJOmRHchhZQF5PriSfIF8lD5I/UJQoJhRPShxFQtlOOUq5QHlAeUOlUg2obtRYqpi6nVpPvUR9Sn0vR5Mzl/OX48mtk6uRa5Xrl3slT5TXl3eXXy6fJ18hf0r+pvy4AlHBQMFTgaOwVqFG4bTCPYVJRZqilWKIYppiiWKD4jXFUSW8koGStxJPqUDpsNIlpSEaQtOledK4tE20Otpl2jAdRzek+9OT6cX0H+i99AllJWVb5SjlHOUa5bPKUgbCMGD4M1IZpYyTjLuMj/M05rnP48/bNq9pXv+8KZX5Km4qfJUilWaVAZWPqkxVb9UU1Z2qbapP1DBqJmphatlq+9Uuq43Pp893ns+dXzT/5PyH6rC6iXq4+mr1w+o96pMamhq+GhkaVRqXNMY1GZpumsma5ZrnNMe0aFoLtQRa5VrntV4wlZnuzFRmJbOLOaGtru2nLdE+pN2rPa1jqLNYZ6NOs84TXZIuWzdBt1y3U3dCT0svWC9fr1HvoT5Rn62fpL9Hv1t/ysDQINpgi0GbwaihiqG/YZ5ho+FjI6qRq9Eqo1qjO8Y4Y7ZxivE+41smsImdSZJJjclNU9jU3lRgus+0zwxr5mgmNKs1u8eisNxZWaxG1qA5wzzIfKN5m/krCz2LWIudFt0WXyztLFMt6ywfWSlZBVhttOqw+sPaxJprXWN9x4Zq42Ozzqbd5rWtqS3fdr/tfTuaXbDdFrtOu8/2DvYi+yb7MQc9h3iHvQ732HR2KLuEfdUR6+jhuM7xjOMHJ3snsdNJp9+dWc4pzg3OowsMF/AX1C0YctFx4bgccpEuZC6MX3hwodRV25XjWuv6zE3Xjed2xG3E3dg92f24+ysPSw+RR4vHlKeT5xrPC16Il69XkVevt5L3Yu9q76c+Oj6JPo0+E752vqt9L/hh/QL9dvrd89fw5/rX+08EOASsCegKpARGBFYHPgsyCRIFdQTDwQHBu4IfL9JfJFzUFgJC/EN2hTwJNQxdFfpzGC4sNKwm7Hm4VXh+eHcELWJFREPEu0iPyNLIR4uNFksWd0bJR8VF1UdNRXtFl0VLl1gsWbPkRoxajCCmPRYfGxV7JHZyqffS3UuH4+ziCuPuLjNclrPs2nK15anLz66QX8FZcSoeGx8d3xD/iRPCqeVMrvRfuXflBNeTu4f7kufGK+eN8V34ZfyRBJeEsoTRRJfEXYljSa5JFUnjAk9BteB1sl/ygeSplJCUoykzqdGpzWmEtPi000IlYYqwK10zPSe9L8M0ozBDuspp1e5VE6JA0ZFMKHNZZruYjv5M9UiMJJslg1kLs2qy3mdHZZ/KUcwR5vTkmuRuyx3J88n7fjVmNXd1Z752/ob8wTXuaw6thdauXNu5Tnddwbrh9b7rj20gbUjZ8MtGy41lG99uit7UUaBRsL5gaLPv5sZCuUJR4b0tzlsObMVsFWzt3WazrWrblyJe0fViy+KK4k8l3JLr31l9V/ndzPaE7b2l9qX7d+B2CHfc3em681iZYlle2dCu4F2t5czyovK3u1fsvlZhW3FgD2mPZI+0MqiyvUqvakfVp+qk6oEaj5rmvep7t+2d2sfb17/fbX/TAY0DxQc+HhQcvH/I91BrrUFtxWHc4azDz+ui6rq/Z39ff0TtSPGRz0eFR6XHwo911TvU1zeoN5Q2wo2SxrHjccdv/eD1Q3sTq+lQM6O5+AQ4ITnx4sf4H++eDDzZeYp9qukn/Z/2ttBailqh1tzWibakNml7THvf6YDTnR3OHS0/m/989Iz2mZqzymdLz5HOFZybOZ93fvJCxoXxi4kXhzpXdD66tOTSna6wrt7LgZevXvG5cqnbvfv8VZerZ645XTt9nX297Yb9jdYeu56WX+x+aem172296XCz/ZbjrY6+BX3n+l37L972un3ljv+dGwOLBvruLr57/17cPel93v3RB6kPXj/Mejj9aP1j7OOiJwpPKp6qP6391fjXZqm99Oyg12DPs4hnj4a4Qy//lfmvT8MFz6nPK0a0RupHrUfPjPmM3Xqx9MXwy4yX0+OFvyn+tveV0auffnf7vWdiycTwa9HrmT9K3qi+OfrW9m3nZOjk03dp76anit6rvj/2gf2h+2P0x5Hp7E/4T5WfjT93fAn88ngmbWbm3/eE8/syOll+AAAACXBIWXMAAAsTAAALEwEAmpwYAAAUmElEQVR4Ae2de+xlVXXH58GIjIUReVmog0JqoWirqVgtiFHsH/YlQprU1GhqiEaatNp3jCQVStOHDSCpUhuQpAr11bSl2GhLpGgbrKVpoUS0YAdEQaYWLKLwG2emn8++e13373DOvfece37T3/zcK9ln77Mfa6/1XWuvvc859zezaVOlikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFoCJQEagIVAQqAhWBikBFYP0isPkAiraFucr59nO/7wDOv56mEgfxCBKLSFG3IXKVPGSGJgKxdUb7Rmuap69YHFA8yhU5Ntga/tsF0xMPOeSQE7g/3HroK+Sfy+06ykaPBmLtKpeOBotnkx9BWtmyZcuDKysruyh/gyTpBAdthCy9/FiUu4h0+9atWx8n7S8T9f8GEC9OKh9gz89zHqgsFtoW9L+C9EiJQy7fT/4h8Di7EOqARoNi3sFFFU17G8q8ntRUdC913yaZ7yPpEN9izDPyjOW+OFiIdTgwGRJd3511Vu8Si1ULg7YPo8NTsh6zttB1p2pSlJX99kLRlaxsGLxU9lv2o/+vHYzKLoh+rP4j0fXhjIuLoMQhHGIP9SYxcXt8ap5jzSLBmCtOT9WrX7N58+aLKbunm7aRnCeAoDil5N0o69lgo1LofTQKxqpuw9068TCtgOEpYHk9ZWkvKfikirEubYIM4S0fD3x67OWZgYeYefzj4PdwHrORs0dQ7vEFFXwS/VZIZ7I4fimPWZMoMM9AC8o7eXRB2PMZcAxJZ+gSWKPbvoekotLfTbLpKTnfbohMfcX5AdKtWSONKwau7C5K0ZHGXyZZtv/oUWAsB1C4TYStV5tDXYIGGCrk1rBp//79v8cj4T9RVJZZgNj9YKWEx969ey9AgQdJh5LEwEXS9QJIPPaB6Uk8GZxJWRrLXhNuXMPLphUDCklQxrnHnZLHtwkaxv8f+vwthr+DiPFpQPlUHmP7RiUdW2Pfgb6nsbefg2FPBYOzqHtBVlpHaC6chNm+ffteSNtNLe1U/f9ThPrnoFic9COPk66HQ8ufRdwjGyKrdFPxRpcNcxtYTRViEbw1Y9PETLzSEwH5lXnAGAt2OreFtpW6qsOiN9u2bfOEqyH15CZF3cU0PER6MmleCGzyWOt7ZddAIZf5aPhk4Y0E8pR32gJZ3ZcSCe7k3vm7tkDfnq4JjaYgSqhUULmiNb7AEv32qqjkAXDeISh1PEAXcVBODRBymRuCn7BqqVuG5ClvMUiYsR38R2YYCyXfTrPAtqt92rFvIRj3HVf2D2PP4/UNBn09DxxdkVKgnuXknI4h1P4MxjgLZ97uqmR1fpTqL5N0EA23VrR7DuMULeb0GdQ8z2h9mAYvjRtOUY73le83c8UQB5Dn1Fgl44FlZdCwrvrjMf5HyF+M4clQYPNmHeL3KV5A5Hofeczd1C2iaFf4lt1MYs6vO98MCmxndBnWNCbjLi8V0c0o6bOvYW8IiY58DJ1jkqv6UA5iN5L7BFPK53yeVa7GER7BCXQQdSz7cDvdt5eJErEw5NdGXdi29e1VN5oDYOB5vOLlRy8B6RzG346h3mGI7sug0X8fsm6Hz10Y9Tx4/iplje9bOp/PS9LhDqH/ZeQfwRHOoXwR/T3IanCjwm7uf5d3GZ/OdUO2iq43hBEWwgF0ylFpntH6TBZCdo0xRA4Ok4D/Ycb/RBfzPvUYzO53eaF8jjnUhoV1e+lzAk85zye/E6fRWVYRTvFK2k/fs2fPv9AQW8WqPnNumlGl2b1NtmafQfexfw0a3BgUDtDlpa6mrrYGq+mt8u0H3OeRa3x5mMKZhuSPMd43kLfn3BdYUqy2yV3jyoFwZ/7RhqtVPUIOzzabaH+TOTSTz6TLE67ymkWB7aw+g9rGdIB4r98liFtA0KKOEGDGCnBc1AWvPrlj03hCvytVig9RM2Vi9XtSn45vlOUTRprJx45NgndySuq7dAtse/NuztW8H8MBQmgPTG2UhEbJtFLoEP3b+jbr0n6aQ6vfCwRZww1N6pv2eSLA2ZSlGyZZ6wHTlbmVvrv9XsE29DLuNYY6KIP8DiO5lVxjPpBmHgKZf80cIFbWQLm/MwwhdwCCFV1e6udQyU5dfVKH4mI/Qd7H3nsOBvgjytNHtaJfn6I8dSTfrh1J6L6EaPA6ZN/JvVFK+ULGtKpp+y3qNPKLdAbS17hNDkCdB8JLcJCbyJV1yDnnfxknJQAnxVX338OdsnhWCNlSh/VwSSDxxeoyDFS+v47vAPE++wNZ2CFOJ7BBAu+cyyZXVaysk3GC27L8Ibf5Pur9HCspg/3LeWN8tJv3IXXZBHZnFHOX3wSi7DblZ3ap6SST2oHXIcZoTpXCNKvitNzQKiAr5Suz2ptMG/fOoQHkHQe/RpfBtxrhbiLB8zHCayifRfJN4Oep+3PK/0lybmUozzHcJlIm24es/BQJiR4PMrerW+cqSd722cFB+CS2Qs8hQ+cq+Y5WVhjpaSjwUPbi8NpYSen3b6ykN0+6PkHJXL1wJihjpZg0rcS4aeRlW9e8jSEL3wZ+R4CdvwoWs/hyGvj5m0p/I5i2ITiXUWfhibo6hgBd7fPqk8cinI9ATyW5CgSppDQHfdJjFw3J68sOPcuOb0vOq7HKJOu2vlFnuxRyGxFjvGVlL1d2jGvmdBtE8lFuzwB3ZQ7WlZQckAjqAtL4RqExInc5R++ywCQh2L9eUXhtc/Unb8b499F/e56l6SB9J3e885d8EkgdjMo2xyySgv8ifUs5OkSYWR04XuxKJ6UVn8sRBeIc9cGCU3O7KJrWtjgFFCHPLwRthq5SmT/OIi3juQKtYZoU8hyFLG8kvQunfCf5uXQM40Sf5tix7pfhH2OfW2DZXEhiGT8l/zhCPy0L7tjQcZAufQc7oSHxWAR6N/l5edY4pOXblEXdHh7hTqXmblKML/stUlbOCI1uNYZCn9H9vKzjvYr8faRVvzbiIPfvHOR+lnoPcj7/+6dYwYfi0qRD+hs/ybI6D6E0Fj2uZbAHUcN8216vzi6i/ya9CVz/glwq8ZnULHjt4wDJeKwun8M/AX+fTdOLEvImH0HWUfyQ8isY4VLLJPv3pVDOP6u6ksE6nU5wHQC8Fnlezhw3ZqaepEsyTN6fHfBRtqLb2EtPpM43b02Zy3GLlNVR/e5DrjdwQv8M90MdPJznOHjdAZ+jSG1PBVSvqr8C3eJn47atGQVYfpH7MkIakh7LeexTkU/DF8a5PEukgkNJUH1WvjzPl/gjx1us16i5/gl/e0h9+ssj8ivsS/6x3DdkHSt/GPbHOQc0VNe0PfK49wJkDF0i7DfltD7OBa+fTDvsYLiosKkfk57NCjqeCfXO9Eo1Tx6ZqyI5CyvjHTzfxksU64eQ8xpJjoefTxpSiiLIcjPlncjzXHL5t4XMVMfY9BWR/B/pJxliDdfLJuc1muzAEd9ILi2K6aT3d64pvPvaG91OR9ZdNOn8bduK9YHpz1OW2vpNWmZcFz2URQT43swr7pusFcoff7yFsO/qNwRrwEHCyYvk6j8JnjqcfNLpF6B8HaszSmneSXHVNY3HSdwyfJVb7tdDDbVqAm4ShvD2nCOFYSZ3/a46wZP56ngb+Q/hVHfCVx3VuylvugcXtwvJPurba/4mUxnNIg9dUpdBA/CLEd4VG3tyqk8j+12SMkSS+ximIylvnCM0ahi0i3+A4XO2n4Dj9Gz9GEm2yiXv/zKHumSZtM6+6kxGlJ1EgU9k4ytnm52s16nLj2ypzvpFqY1x29hkcA4cN9HolytD6+OkJqm8QhyOYFfiBBdSbvPe5riue8ca7naRriNJSRYAeiHlLwL8F8idN5yN4pSi7kZrkOn03CJPxyyb1NXItJeIdxW5lOSbFHtdlUnn/n50u5X8RSR5KWOTrE/GRv+/yo2OX1NKExCOX4aAj5I8mHgQmR76cp31PprFe4E3ZKkW3W6aSgQAT4Hn35DiYPQhO3L/KlIckjw8KZMpDlKu/qeTNuOQu3JfeSj3Min02w2fn1IWaKgRYiHugNc9JPUJ+UO3yMsXRe+ZTJuugVNRNb/Yd5AKGvJOQMD3kqfDFbkeGUpQTBR13yRy/AA1hnH7WN+XlDPC28mUXXWGvntIGvEXyP+ElM4H5IlYHYJ5LueFf6XiMNLOSctoV/H4EukR0lDdFCbhiqxXU1YXo6s6NikdFKn0qeMXwfXa3KHEpzlm9PvpSmZFXYDQ4ZltkSB5K1HD9wDSdOzkttdVJU1NCsd7JvK8DXmuJV1D8lS+PXdeZt7mfG33GnAoxdhTkTkwjDywNTeqmd/ERMfkyRzbhkluXrtM0JPgCHReFkzhmoKnMIlh7qV//GJoWYGdO1JoGCDGfZmXbTFuzHxZfZJzgtFvZxzLEB8OEMb/eKHYqmhX1B+woop7GPQx7dIsfAgagk+dgj5nZMlKg+SqUTKNKpjyN1le1jjBU16RluUJq1WU+IHfzRnDOOMEhrGoHmJUPPIpyyikgkPJPdnzgP/mm8/8KyQFi72aYqK053NKfl6+X2bOzCIZVuDK5DzukeZRpriqT9m/rWz/IJ0o+Mg3kvqN5cRiIT8faT0nScpVkvP6BONThu8+XHSpjnxpWtaTdACV2EXyXfhLSIJWAhQO8WzqlyGBcS75t1ETuOZ925iuOuVXN/9hp3MB/zQc2H+35zMcvP4yt0Ufc2UKPSkuTCGjL3u6fp4eWP515qpco9GyDqAgYZTbKesArUAA3gl2hroMOGltvwqUfEdVvn2qFMUMwz7aXUM6iqcJV2Dqzl59O87gF8bPk9Q9ZAoZU78+F7bH45hDXuoYTiEL761/lCjr+w5pCH6TkS3XMRwgCYwCXw2QGvOEQrF/tTpIY0x5G8AeBvgXMsdZNDaBKvsPKe9Fft/nfxKg34pBXsr99ZmRL5NCBh3B7/afIhL46vch+p7FmJsph0x99AvsSmwCL6dPPJHFN7CPWDE2jeEAIVN63Ro3Lbmfj6VBHgzoH2TsTycOa3DReVnZ6eUS+WXZmduex33/cAzy/A5O8GaM449PHqP8UuqHOIHaHO4F6nIe374qy+hkeBmFAEwhpdKDp/cAVb7YaPZJA1suERY9QGr8OIgZdsdKwVMH8LXqM9AlDqzpKYe6kkKP5IzodR2NLyF6xHf52LPLMTPL8PAlldR0gLj3+0Ac/KIuDVj2MkYECIEUchb1BgZmyVH4Rr4N4wTv0Zw2GMY85CtM9fQ8l3q1OWrU7aB9K87yVXK3hh81hwKPyd1i15l2gHesfucewr9TijHBDCG7Jgvgutrb6pPVeZX7WRpvIQmUMo+ZdMyEA/v5TuZ6gHupC+wwgHuyZwcf4aZ/bJrHWdWH5mHjI/aa0EzP6zljCNmljPVdoHZNJdgaxz8N86PPuwA8VlrXmCH1/gn40az8H2bwjczhd/hTKBt2m2/c1NO3mn9PcuW/jv7+EUm87o6nApsXpeSAMzqX2IYDzui+eNNaOEDX7LF6+wJkFBCgB3GCnyPXIN6PBUQ4pXkyNkb9Dco+d3sv+GEgZdf4K8jydnLH/CHG/xi5W6D9pnsV5UVpnh3is/ai/BbuN2/ihRkB2gorobM/7YJp6usA8gwnEPA1AwPebmNbMO71RJvzKf8pqTwIipePu68mv5dk34+SS0ON71idqo0C0DICtPUbXDeaAyBBGEYjlRT3fplT0XmHxXJsWY6VFfzKtrHKAp6cDcNeRfmTnO5fi8H9u0cd/BZW+59R9pHXs4PObO6YkI9iP2KOHbMWD9wC236MF+g9hgOEl8ZjSte0HpZ84fEwSSPGOIq9aOi4PpNoTA37RQx+UcvAML5NQyLaKpYY/4RVFU+8WTMHMGyNQqyS0gFKI2lsQdpGWP2RPJlhVecTyPVKyiw+IaeyWg59KA4ix8tHDBJmOED8VK3LHuEAjh2VuibsPQkO0PUiSF5JcBS9kLLPz24DKh8gU1yXZCQIOZXVcuncfYXWiRwvn7SvE/5/E+xO5t65uuzxKG1rQnrispQA4afMD7DCfWetgZukYv7T58+hz+co+6+F30n5H3ju/udm5w16LwY6kb/785+b+0Hw+DHuz8z6dq5u+u7KfdZtloRHsVtI/pCh+aOG+HFD/JAy7v2797dlrbq8f90q3UOw0O1Z6Bs/TA0M/MFH/Ogj6iJPOPKC6hV5rtG3zBCshy6tXVMkwVN9ly51hUnni7Ca9jVWwSW8fvVsEAcvx280igXyHvQ9EeV83Iytxba21Z/wANN789dGMbFuVBrLAQxtfkx5L9lDJB2iS1jntD1esvjPiL+Se6kNiEnLwXtVJ/E5lnRGVmORQ7AOIl1B8rwgZl0Li6ZhNJYDaGwF/Brp17MoCtvlBLnL5NBDWPTxcKNSOPURKBhfEufpqsF1kltZVO/MndMimzewb/tYDuC8eqxvxq4izP0BZfcr+RvquxwheTlK3k+fjUqxal0c8aQUdaXO1omH6UmE/nvAsvyDk7Yx5fh1Udbbk8ezqv2bgeafkHuo8ZfDpjgo6tknZenHdMh1AUgWIh3e0Plqkgc8D32BhXnzcHwD447MY42sBxXpAGHI7+ME6y9m7ibFyXaaeyKm/cezdqOfcNcRarENHAoO728xuJj4v4reQPrJQu41N34IVsw5WlHhU4gnt+z/hPlMct8T7GGb+BKnW98BGAF0mK5tgqYNQWIdYfxZYOH3BbF4HCzuB4svUN5NkmIBHfSYqMg8L97IKz9Zs7joBLP0tW0eXgW75YtrGQFK6ZzHFJ5tm6tBD49VYd13C4lDxeK7xdpVz4pARaAiUBGoCFQEKgIVgYpARaAiUBGoCFQEKgIVgYpARaAiUBGoCFQEKgIVgYpARaAiUBGoCFQEKgIVgYpARaAiUBGoCFQEKgIVgYpARaAiUBGoCFQEKgIVgYpARaAiMC4C/wfb0HaVN5WdoAAAAABJRU5ErkJggg==');
}
