html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.json-viewer-css-check:before {
  content: 'loaded';
  display: none;
}

.read-only .CodeMirror-cursor {
  visibility: hidden;
}

.CodeMirror {
  width: 100%;
  height: 100%;
}

.extras {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 16px;
  padding: 10px 5px 10px 15px;

  a {
    transition: all ease-in-out 250ms;
    visibility: visible;
    opacity: 0.3;
  }

  &:hover a {
    visibility: visible;
    opacity: 1;
  }

  $icon-size: 40px;

  .icon {
    svg {
      width: $icon-size;
      height: $icon-size;
      fill: #000000;
    }

    display: block;
    width: $icon-size;
    height: $icon-size;
    background-size: $icon-size;
    background-color: transparent;
    margin-bottom: 5px;
    border-radius: 4px;

    &:hover {
      background-color: #ccc;
    }
  }

  &.auto-highlight-off {
    .icon {
      background-color: #ccc;
    }
  }
}
