.theme-ambiance-css-check:before {
  content: 'loaded';
  display: none;
}

.cm-s-ambiance div.CodeMirror-selected {
  background: rgba(255, 255, 255, 0.25);
}

.extras {
  .icon {
    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #666;
    }
  }
}
