.theme-dracula-custom-css-check:before {
  content: 'loaded';
  display: none;
}

.cm-s-dracula-custom .CodeMirror-selected {
  background: rgba(230,231,243,0.25);
}

.extras {
  .icon {
    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #666;
    }
  }
}
