.theme-3024-night-css-check:before {
  content: 'loaded';
  display: none;
}

.extras {
  .gear, .raw, .unfold {
    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #666;
    }
  }
}
