.cm-s-zenburn .CodeMirror-gutters{border: none;}

.theme-zenburn-css-check:before {
  content: 'loaded';
  display: none;
}

.extras {
  .icon {
    svg {
      fill: #fff;
    }

    &:hover {
      background-color: #333;
    }
  }
}
