.cm-s-dark.CodeMirror{background:hsl(30,20%,25%) !important;}
.cm-s-dark.CodeMirror{color:hsl(30,20%,50%) !important;}
.cm-s-dark div.CodeMirror-selected{background:hsl(30,20%,35%) !important;}
.cm-s-dark .CodeMirror-gutters{background:rgba(0,0,0,0) !important; border: none;}
.cm-s-dark .CodeMirror-guttermarker{color:rgba(29,117,179,1) !important;}
.cm-s-dark .CodeMirror-guttermarker-subtle{color:#868889 !important;}
.cm-s-dark .CodeMirror-linenumber{color:#868889 !important;}
.cm-s-dark .CodeMirror-cursor{border-color:rgba(46,56,60,1) !important;}
.cm-s-dark span.cm-comment{color:hsl(30,20%,60%) !important;}
.cm-s-dark span.cm-atom{color:hsl(350, 40%, 70%) !important;}
.cm-s-dark span.cm-number{color:hsl(350, 40%, 70%) !important;}
.cm-s-dark span.cm-property{color:rgba(255,255,255,1) !important;}
.cm-s-dark span.cm-attribute{color:rgba(255,255,255,1) !important;}
.cm-s-dark span.cm-keyword{color:rgba(255,255,255,1) !important;}
.cm-s-dark span.cm-string{color:hsl(75, 70%, 60%) !important;}
.cm-s-dark span.cm-string-2{color:hsl(75, 70%, 60%) !important;}
.cm-s-dark span.cm-variable{color:rgba(255,255,255,1) !important;}
.cm-s-dark span.cm-variable-2{color:rgba(255,255,255,1) !important;}
.cm-s-dark span.cm-def{color:rgba(46,56,60,1) !important;}
.cm-s-dark span.cm-bracket{color:rgba(46,56,60,1) !important;}
.cm-s-dark span.cm-tag{color:rgba(156,51,40,1) !important;}
.cm-s-dark span.cm-link{color:hsl(75, 70%, 60%) !important;}
.cm-s-dark span.cm-error{background:rgba(0,0,0,0) !important;}
.cm-s-dark span.cm-error{color:rgba(46,56,60,1) !important;}
.cm-s-dark .CodeMirror-activeline-background{color:rgba(46,56,60,1) !important;}
.cm-s-dark .CodeMirror-matchingbracket{color:rgba(0,255,0,1) !important;}
